<!DOCTYPE html>
<html>
<head>
	<title>GadgetAuthenticationTest</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag 'application', 'jquery', 'rails' %>
	<%= csrf_meta_tag %>
</head>
<body>

	<% if logged_in? %>
		<div>
			Logged in as <%= current_user.login %> |
			<%= link_to 'Account Activity', user_sessions_path %> |
			<%= link_to 'Log out', current_user_session, :method => :delete %>
		</div>
	<% end %>

<%= yield %>

</body>
</html>
